﻿@model Company
@{
    ViewData["Title"] = "Add Company";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="border p-3 mt-4 ">
            <div class="text-center">
                 <h3>@(Model.Id !=0? "Edit" :"Create") Company</h3>
            </div>
           
            <form asp-area="Admin" asp-action="Upsert" method="post" >
                	<input asp-for="Id" hidden />
	        <div class="row">
               @* <div asp-validation-summary="All"   class="text-danger">
                </div>*@
                <div class="form-group  mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
                 <div class="form-group  mb-3">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" type="text" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger" />
                </div>
                 <div class="form-group  mb-3">
                    <label asp-for="StreetAddress" class="control-label"></label>
                    <textarea asp-for="StreetAddress" rows="3" type="text" class="form-control" ></textarea>
                    <span asp-validation-for="StreetAddress" class="text-danger" />
                </div>
                 <div class="form-group  mb-3">
                    <label asp-for="State" class="control-label"></label>
                    <input asp-for="State" type="text" class="form-control" />
                    <span asp-validation-for="State" class="text-danger" />
                </div>
                 <div class="form-group  mb-3">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" type="text" class="form-control" />
                    <span asp-validation-for="City" class="text-danger" />
                </div>
                <div class="form-group  mb-3">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" type="text" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger" />
                </div>

                
                @* <div class="form-group  mb-3" >
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" type="text" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger" />
                </div>*@
                <div class="form-group col-md-12 text-center  mb-3">
                   @if(Model.Id != 0)
                   {
                        <input type="submit" class="btn btn-primary float-right" value="Update" style="width:150px" />
                   }else
                   {
                       
                        <input type="submit"  class="btn btn-primary float-right" value="Create" style="width:150px" />
                   }
                   
                    <a class="btn btn-secondary" asp-area="Admin" asp-action="Index" style="width:150px">Show All</a>
                </div>
            </div>
            </form>
        </div>
    </div>
 