﻿@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories List";
}
<div class="text-center">
@*<partial name="_Notification" /> (moved this line to _layout.html)*@ 

</div>
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="border mt-4 p-3 text-center">
            <div class="row">
                <div class="col-md-8 text-center">
                    <h2><b>Categories List</b></h2>
                </div>
                <div class="col-md-4 text-end">
                    <a asp-area="Admin" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i>&nbsp;Add new Category</a>
                </div>
              
            </div>
              <br /><br /> 
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Category Name
                            </th>
                            <th>
                                Display order
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td class="align-middle" >
                                    @category.Name
                                </td>
                                <td class="align-middle" >
                                    @category.DisplayOrder
                                </td>
                                <td class="align-middle">
                                    <div class=" btn-group" role="group">
                                        <a class="btn btn-primary mx-4" asp-area="Admin" asp-action="Edit" asp-route-id="@category.Id"><i class="bi bi-pencil-square"></i>&nbsp;Edit</a>
                                        <a class="btn btn-danger " asp-action="Delete" asp-route-id="@category.Id"><i class="bi bi-trash-fill"></i>&nbsp;Delete</a>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
