﻿
@{
    var status = Context.Request.Query["Status"];
    var pending = "text-primary";
    var inprocess = "text-primary";
    var completed = "text-primary";
    var approved="text-primary";
    var all = "text-primary";

    switch(status)
    {
        case "pending":
            pending = "active text-white";
            break;
        case "inprocess":
            inprocess = "active text-white";
            break;
        case "completed":
            completed = "active text-white";
            break;
        case "approved":
            approved = "active text-white";
            break;
        default:
            all = "active text-white";
            break;

    }

}

<div class="row ">
     <div class="col-8 offset-2 border mt-4 p-3 ">
    <div class="text-center">
        <h2><b>Order List</b></h2>
    </div>
    <div class="d-flex justify-content-end pt-4 ">
      
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="inprocess">
                    <li class="list-group-item @inprocess ">In Process</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="pending">
                    <li class="list-group-item @pending ">Payment Pending</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="completed">
                    <li class="list-group-item @completed ">Completed</li>
                </a>
                 <a style="text-decoration:none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="approved">
                    <li class="list-group-item @approved ">Approved</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="all">
                    <li class="list-group-item @all ">All</li>
                </a>
            </ul>
        </div>
    

    <br /><br />
   
       
            <table id="tblOrders" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>PhoneNumber</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    
</div>

@section Scripts
{
<script src="~/js/order.js"></script>
}