﻿@model CoverType
@{
    ViewData["Title"] = "Edit CoverType";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="border p-3 mt-4 ">
            <div class="text-center">
                 <h3>Edit CoverType</h3>
                
            </div>
           
            <form asp-area="Admin" asp-action="Edit" method="post">
                <div asp-validation-summary="All"   class="text-danger">
                    
                </div>
                <div class="form-group  mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
             
                <div class="form-group  mb-3">
                    <input type="submit" class="btn btn-primary float-right" value="Update" />
                    <a class="btn btn-secondary" asp-area="Admin" asp-action="Index">Show All</a>
                </div>
            </form>
        </div>
    </div>
</div>
